html {
	overflow-y: scroll;
}

body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

.menu {
  clear: both;
	color: #069;
	overflow: hidden;
	background-color: #17a;
	padding: 0.7ex;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #069;
}

.header, .footer {
  background-color: #eee;
	clear: both;
	color: #555;
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

a {
	color: #005386;
}

.header a, .menu a {
	text-decoration: none;
}

.menu a {
	padding: 0.5ex 1ex;
	color: #fff;
}

.menu a:hover {
	background-color: #069;
}

.hidden {
	display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc, .hist {
  margin: 5vh;
  border: 2px solid #005386;
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.footer {
  font-size: 1em;
}

